<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About This Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'about_app/css/about.css' %}">
</head>
<body style="background: url('{% static "algos_app/images/background7.jpeg"%}') no-repeat bottom center fixed; background-size:cover";>
    <div class="main container-fluid">
    <section class="container-fluid">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fundamentals">Fundamentals</a></li>
                <li><a href="/stringsArrays">Strings & Arrays</a></li>
                <li><a href="/linkedLists">Linked Lists</a></li>
                <li><a href="/queuesStacks">Queues & Stacks</a></li>
                <li><a href="/recursion">Recursion</a></li>
                <li><a href="/sorts">Sorts</a></li>
                <li><a href="/bsts">Binary Search Trees</a></li>
                <li><a href="/heaps">Heaps</a></li>
                <li><a href="/graphs">Graphs</a></li>
            </ul>
        </nav>
    </section>
    </div>
    <div class="row container-fluid mx-auto">
        <div class="col-md-1"></div>
        <div class="col-md-3 box">
        <h2>Hello There Fellow Coder.</h2>
        <h3>The name is Alisa Marie.</h3>
        <p>I'm a outdoor enthusiast, travelbug and a giant nerd. I got a Bachelor's in Chemistry but I'd consider myself a lifelong learner. <a href="www.alisamarie.me">More about me...</a></p>
        <p>Awhile ago, I quit my chemistry job as a chemist and learn how to code. The future is tech and eventually I wanted to make technology that would support and enhance scientific discovery. It's crazy how far behind some scientific technology is...</p>
        <p>I'm an analytical thinker so solving puzzles and figuring out how to solve algorithms comes pretty naturally to me. Some of my classmates without a background in math or science found algorithms a little more tricky. Naturally.</p>
        <p>So here's my gift to you friends. Hopefully you'll be able to find some bugs, show me solutions that are more efficient/concise and teach me something new about coding.</p>
        <h3>Cheers, and happy coding!</h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3 box">
        <h3>What to expect.</h3>
        <p>All of the algorithms on this site are coded in JavaScript. JavaScript just happens to be the language I was taught algorithms in. My dream is to hopefully include other languages (i.e. Java & C++) but for now, JavaScript it is.</p>
        <p>On the far left column,  you'll find the name of the algorithm, the expected input and output values, and a short description of the algorithm, it's purpose, it's capabilites and some common edge cases. Some algorithms will also contain an image or gif to assist with the understanding of the problem.</p>
        <p>The middle column holds the code for that problem. Variable and function names are arbitrary and can be changed to whatever you please.</p>
        <p>So take a gander, and use this site the way you'd like. I recommend you try coding out the problem before looking at the solution though. #StrengthThroughStruggle</p>
        <h4 class="quote">I have never let my schooling interfere with my education. - Mark Twain</h4>
        </div>
        <div class="col-md-1"></div>
    </div>
</body>
</html>