<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'linkedlists_app/css/codePage.css' %}">
    <title>Count Sort</title>
</head>
<body style="background: url('{% static "fundamentals_app/images/background3.jpeg"%}') no-repeat center center fixed; background-size:cover";>
    <div class="main container-fluid">
    <section class="container-fluid">
        <div class="description">
            <h2>[Add Node Before]</h2>
            <p>Input: Value of new node, the value of the node to add your new node before</p>
            <p>Output: The Sll instance</p>
            <p>Since the data structure of Slls do not allow for the indexing of nodes, you must find a way to identify the specific location where a node needs to be added. You will need to implement a runner to iterate through the elements of the Sll to reach the point where you want to add your Sll. You will additionally need a checker that iterates one spot ahead of the runner to confirm or deny whether the position of the checker is where the node needs to be added. Remember, each node in a <span style="font-style=italic">Singly</span> Linked Lists only had one pointer: top the next node. Once you've iterated past a node, there's no way to go back to it, so in order to add a node before a specific point in the Sll, you have to have a runner and a checker to keep track of where you are.</p>
            <p>Assumptions:</p>
            <p>The user will submit the correct input values and types.</p>
            <p>Edge Cases:</p>
            <p>What do you do when you are given an empty Sll?</p>
            <p>What happens if the chk value (the value to insert the node before) doesn't exist?</p>
        </div>
        <div class="box">
<pre><code>Sll.prototype.addBefore = function(val, chk) {
	var addNode = new Node(val);
	if(!this.head) {
		return false;
	} else {
		var runner = this.head;
		while (runner.next) {
			if (runner.next.val == chk) {
				addNode.next = runner.next;
				runner.next = addNode;
				return self;
			}
		}
		return false;
	}
}</code></pre>
        </div>
        <div class="vertical-menu">
            <p><a href="/" class="active">Home</a></p>
            <p><a href="/fundamentals">Fundamentals</a></p>
            <p><a href="/stringsArrays">Strings & Arrays</a></p>
            <p><a href="/linkedLists">Linked Lists</a></p>
            <p><a href="/queuesStacks">Queues & Stacks</a></p>
            <p><a href="/recursion">Recursion</a></p>
            <p><a href="/sorts">Sorts</a></p>
            <p><a href="/bsts">Binary Search Trees</a></p>
            <p><a href="/graphs">Graphs</a></p>
        </div>
    </section>
    </div>
</body>
</html>