<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlgoAnytime</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'algos_app/css/index.css' %}">
</head>
<body style="background: url('{% static "algos_app/images/background2.jpeg"%}') no-repeat center center fixed; background-size:cover";>
    <div class="main container-fluid">
    <section class="container-fluid">
        <code>index.html</code>
        <div class="vertical-menu my-auto">
            <p><a href="/" class="active">Home</a></p>
            <p><a href="/fundamentals">Fundamentals</a></p>
            <p><a href="/stringsArrays">Strings & Arrays</a></p>
            <p><a href="/linkedLists">Linked Lists</a></p>
            <p><a href="/queuesStacks">Queues and Stacks</a></p>
            <p><a href="/recursion">Recursion</a></p>
            <p><a href="/sorts">Sorts</a></p>
            <p><a href="/bsts">Binary Search Trees</a></p>
            <p><a href="/heaps">Heaps</a></p>
            <p><a href="/graphs">Graphs</a></p>
        </div>
    </section>
    </div>
</body>
</html>